<div class="main-container">
  <div class="inner-container-column">
    <div class="member">
      <img src="{{member.profile_image}}" alt="{{member.display_name}} image" />
      <p>{{member.display_name}}</p>
      <p>{{member.bio}}</p>
      <h3>Specialties</h3>
      <ul>
        {{#each skills}}
          <li>{{name}}
          </li>
        {{/each}}
      </ul>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th>START DATE</th>
            <th>TITLE</th>
            <th>TYPE</th>
          </tr>
        </thead>
        <tbody>
          {{#each planits}}
            <tr>
              <td>{{start_date}}</td>
              <td>{{title}}</td>
              <td>{{type}}</td>
              <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">View</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#compare user.id member.id}}
        <button class="btn btn-custom form-submit-btn" type="button" onclick="updateMember({{member.id}});">Update Service Record</button>
      {{/compare}}
      {{#if bannable}}
        {{#if member.is_banned}}
          <button class="btn btn-custom" type="button" onclick="reinstateMember({{member.id}});">Reinstate Crew Member</button>
        {{else}}
          <button class="btn btn-danger" type="button" onclick="banMember({{member.id}});">Ban Crew Member</button>
        {{/if}}
      {{/if}}
      {{#if deletable}}
        <button class="btn btn-danger form-submit-btn upper-right-btn" type="button" onclick="deleteMember({{member.id}});">Eject Member</button>
      {{/if}}
    </div>
  </div>
</div>
