<div class="member">
  <img src="{{member.profile_image}}" alt="{{member.display_name}} image" />
  <p>{{member.display_name}}</p>
  <p>{{member.bio}}</p>
  {{#compare user.id member.id}}
    <button type="button" onclick="updateMember({{member.id}});">Update My Service Record</button>
  {{/compare}}
</div>
