<h1>Captains and Crew</h1>
<div class="main-container">
  <div class="inner-container-row">
    {{#each members}}
      {{#unless is_banned}}
        <figure>
          <img onclick="viewServiceRecord({{id}});" src="{{profile_image}}" alt="{{display_name}} image" />
          <figcaption>{{display_name}}</figcaption>
        </figure>
      {{else}}
        {{#compare ../user.role_name 'normal'}}
        {{else}}
          <figure>
            <img onclick="viewServiceRecord({{id}});" src="{{profile_image}}" alt="{{display_name}} image" />
            <figcaption>{{display_name}}</figcaption>
          </figure>
        {{/compare}}
      {{/unless}}
    {{/each}}
  </div>
</div>
