<h1>Upcoming planits</h1>
<div class="main-container">
  <div class="inner-container-column">
    {{#if user}}
      <button type="button" class="btn btn-custom form-submit-btn btn-primary pull-right" onclick="createPlanit();">
        Create a planit
      </button>
    {{/if}}
    <table class="table table-striped planits-table">
      <thead>
        <tr>
          <th class="col-md-1">START DATE</th>
          <th class="col-md-5">TITLE</th>
          <th class="col-md-3">TYPE</th>
          <th class="col-md-1">CITY</th>
          <th class="col-md-1">STATE</th>
          <th class="col-md-1">DETAILS</th>
        </tr>
      </thead>
      <tbody>
        {{#each planits}}
          <tr>
            <td>{{startDate}}</td>
            <td>{{title}}</td>
            <td>{{planit_type_name}}</td>
            <td>{{city}}</td>
            <td>{{state}}</td>
            <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">View</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
