<h1>{{title}}</h1>
<form class="main-container">
  <div class="inner-container-column">
    <label for="title">Title:</label>
    <input class='edit-planit-text' type="text" name="title" id="title" value="{{planit.title}}" /><br>
    <div class="planit-dropdown-btn">
      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
        {{#if category}}
          {{category}}
        {{else}}
          Category
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each planit_types}}
          <li onclick="selectPlanitType({{id}});">{{name}}</li>
        {{/each}}
      </ul>
      <input class="planit-type hidden" type="text" name="planit_type_id" value="{{planit.planit_type_id}}" />
    </div>
    <label for="budget">Budget:</label>
    <input class="edit-planit-text" type="number" name="budget" id="budget" value="{{planit.budget}}" /><br>
    <label for="date">Date:</label>
    <input class="edit-planit-text" type="date" name="date" id="date" value="{{formattedDate}}" /><br>
    <label for="street_address">Street Address:</label>
    <input class="edit-planit-text" type="text" name="street_address" id="street_address" value="{{planit.street_address}}"><br>
    <label for="city">City:</label>
    <input class="edit-planit-text" type="text" name="city" id="city" value="{{planit.city}}" />
    <div class="planit-dropdown-btn">
      <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        {{#if planit.state}}
          {{planit.state}}
        {{else}}
          State
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each states}}
          <li onclick="selectState({{@index}});">{{this}}</li>
        {{/each}}
      </ul>
      <input class="planit-state hidden" type="text" name="state" value="{{planit.state}}" />
    </div>
    <label for="zipcode">Zipcode:</label>
    <input class="edit-planit-text" type="text" name="zipcode" id="zipcode"  value="{{planit.zipcode}}">
    <label class="description-margin" for="description">Description:</label>
    <textarea class="edit-planit-text" name="description" rows="8" cols="40">{{planit.description}}</textarea>
    <input class="btn btn-custom planit-submit" type="submit" value="{{submitText}}" onclick="{{submitMethod}}(event, {{planit.id}});" />
  </div>
</form>
