<h1>{{title}}</h1>
<form class="main-container">
  <div class="inner-container-column">
    <label for="title">Title:</label>
    <input class='edit-planit-text' type="text" name="title" id="title" value="{{planit.title}}" /><br>
    <div class="dropdown">
      <button class="category-btn btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{#if category}}
          {{category}}
        {{else}}
          Category
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each planit_types}}
          <li onclick="selectPlanitType({{id}});" class="disabled">{{name}}</li>
        {{/each}}
      </ul>
      <input class="planit-type hidden" type="text" name="planit_type_id" value="{{planit.planit_type_id}}" />
    </div>
    <label for="budget">Budget:</label>
    <input class="edit-planit-text" type="number" name="budget" id="budget" value="{{planit.budget}}" /><br>
    <label for="date">Start Date:</label>
    <input class="edit-planit-text" type="date" name="start_date" id="date" value="{{startDate}}" /><br>
    <label for="date">End Date:</label>
    <input class="edit-planit-text" type="date" name="end_date" id="date" value="{{endDate}}" /><br>
    <label for="street_address">Street Address:</label>
    <input class="edit-planit-text" type="text" name="street_address" id="street_address" value="{{planit.street_address}}"><br>
    <label for="city">City:</label>
    <input class="edit-planit-text" type="text" name="city" id="city" value="{{planit.city}}" />
    <div class="dropdown">
      <button class="state-btn btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{#if planit.state}}
          {{planit.state}}
        {{else}}
          State
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each states}}
          <li onclick="selectState({{@index}});" class="disabled">{{this}}</li>
        {{/each}}
      </ul>
      <input class="planit-state hidden" type="text" name="state" value="{{planit.state}}" />
    </div>
    <label for="zipcode">Zipcode:</label>
    <input class="edit-planit-text" type="text" name="zipcode" id="zipcode"  value="{{planit.zipcode}}"><br>
    <label for="description">Description:</label>
    <textarea class="edit-planit-text" name="description" rows="8" cols="40">{{planit.description}}</textarea><br>
    {{#if update}}
      <input type="submit" value="Update" onclick="updatePlanitPut(event, {{planit.id}});" />
    {{else}}
      <input type="submit" value="Create" onclick="createPlanitPost(event);" />
    {{/if}}

  </div>
</form>
