<h1>planit Details</h1>
<div class="main-container">
  <div class="inner-container-column">
    <div class="planit_details">
      <h4>Title:</h4>
      <p>{{planit.title}}</p>
    </div>
    <div class="planit_details">
      <h4>Category:</h4>
      <p>{{planit.planit_type_name}}</p>
    </div>
    <div class="planit_details">
      <h4>Address:</h4>
      <p>{{planit.street_address}} {{planit.city}}, {{planit.state}} {{planit.zipcode}}</p>
    </div>
    <div class="planit_details">
      <h4>Description:</h4>
      <p>{{planit.description}}</p>
    </div>
    <div class="planit_details">
        <h4>Date:</h4>
        {{#compare planit.startDate planit.endDate}}
          <p>{{planit.startDate}}</p>
        {{else}}
          <p>{{planit.startDate}} - {{planit.endDate}}</p>
        {{/compare}}
    </div>
    <div class="planit_details">
        <h4>Budget:</h4>
        <p>{{formattedCurrency}}</p>
    </div>
    {{#if editable}}
    <button type="button" class="btn btn-custom" onclick="updatePlanit({{planit.id}});">
      Edit planit Details
    </button>
    {{/if}}
    {{#if tasks.length}}
      <h1>Tasks</h1>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th>START TIME</th>
            <th>|TYPE</th>
            <th>|BUDGET</th>
            <th>|# NEEDED</th>
            <th>|DETAILS</th>
          </tr>
        </thead>
        <tbody>
        {{#each tasks}}
          <tr>
            <td>{{formattedTime}}</td>
            <td>
              {{#if skill_name}}
                {{skill_name}}
              {{else}}
                {{description}}
              {{/if}}
            </td>
            <td>${{budget}}</td>
            <td>{{head_count}}</td>
            <td><button class="btn btn-custom" onclick="viewTask({{../planit.id}}, {{id}});">View</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h1>No Tasks for this Planit</h1>
    {{/if}}
    {{#if editable}}
      <button type="button" class="btn btn-custom form-submit-btn" onclick="createTask({{planit.id}})">
        Add a Task
      </button>
    {{/if}}
    {{#if deletable}}
      <button type="button" class="btn btn-danger form-submit-btn upper-right-btn" onclick="deletePlanit({{planit.id}});">
        Eject planit
      </button>
    {{/if}}
  </div>
</div>
