
<div class="main-container">
  <h1>{{title}}</h1>
  <div class="inner-container-column">
    <form class="form planit-form">
    <p id="errorMessage"></p>
      <label for="title">Title:</label>
      <input class="form-control title" type="text" name="title" value="{{planit.title}}" onblur="highlightTitle()" required />
      <div class="drop-down-error planit-dropdown">
        <button class="drop-down ben-will-murder-you-if-remove-this-class-category btn btn-default edit-planit-btn dropdown-toggle" type="button" data-toggle="dropdown">
        {{#if category}}
          {{category}}
        {{else}}
          Category
        {{/if}}
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {{#each planit_types}}
            <li onclick="selectPlanitType({{id}});">{{name}}</li>
          {{/each}}
        </ul>
      </div>
      <input class="planit-type hidden pointer" type="text" name="planit_type_id" value="{{planit.planit_type_id}}" required/>
      <label for="budget">Budget ($):</label>
      <input class="budget form-control" type="number" min="0" name="budget" onblur="highlightBudget()" value="{{planit.budget}}" required/>
      <label for="date">Start Date:</label>
      <input class="start-date form-control" type="date" name="start_date" onblur="highlightPastDate()" value="{{startDate}}" required/>
      <label for="date">End Date:</label>
      <input class="end-date form-control" type="date" name="end_date"  onblur="highlightDate()" value="{{endDate}}" required/>
      <label for="street_address">Street Address:</label>
      <input class=" address form-control" type="text" name="street_address" onblur="highlightAddress()" value="{{planit.street_address}}">
      <label for="city">City:</label>
      <input class="city form-control" type="text" name="city" onblur="highlightCity()" value="{{planit.city}}" required/>
      <div class="drop-down-error planit-dropdown">
        <button class="drop-down ben-will-murder-you-if-remove-this-class-state btn btn-default edit-planit-btn dropdown-toggle" type="button" data-toggle="dropdown" required>
          {{#if planit.state}}
            {{planit.state}}
          {{else}}
            State
          {{/if}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          {{#each states}}
            <li onclick="selectState({{@index}});">{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <input class="planit-state hidden" type="text" name="state" value="{{planit.state}}" required/>
      <label for="zipcode">Zip Code:</label>
      <input class="zip form-control" type="text" name="zipcode" id="zipcode"  onblur="highlightZip()" value="{{planit.zipcode}}">
      <label class="description-margin" for="description">Description:</label>
      <textarea class="description form-control" name="description" rows="8" cols="40" onblur="highlightDescription()" required>{{planit.description}}</textarea>
      {{#if update}}
        <input class="btn btn-custom form-submit-btn-validation form-submit-btn" type="submit" value="Update" onclick="updatePlanitPut(event, {{planit.id}});" required/>
      {{else}}
        <input class="btn btn-custom form-submit-btn-validation form-submit-btn createplanit" type="submit" value="Create" onclick="createPlanitPost(event);"/>
      {{/if}}
    </form>
  </div>
</div>
