<h1>Upcoming planits</h1>
<div class="main-container">
  <div class="inner-container-column">
    <table class="table table-striped planits-table">
      <thead>
        <tr>
          <th>DATE</th>
          <th>TITLE</th>
          <th>TYPE</th>
          <th>CITY</th>
          <th>STATE</th>
          <th>DETAILS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        {{#planits}}
          <tr>
            <td>1{{date}}</td>
            <td>2{{title}}</td>
            <td>3{{type}}</td>
            <td>4{{city}}</td>
            <td>5{{state}}</td>
            <td><button type="button" class="btn btn-primary" name="planit-details" onclick="viewPlanit({{id}})">View</button></td>
          </tr>
        {{#planits}}  
      </tbody>
    </table>
  </div>
</div>
