<h1>{{title}}</h1>
<div class="main-container">
    <div class="inner-container-column">
        Title: <input class='edit-planit-text' type="text" name="title"><br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Category
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {{#each planit_types}}
                <li>{{name}}</li>
              {{/each}}
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Skills
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {{#each skills}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        Budget:<input class='edit-planit-text' type="text" name="budget"><br>
        Date:<input class='edit-planit-text' type="text" name="date"><br>
        Address: <input class='edit-planit-text' type="text" name="address"><br>
        City: <input class='edit-planit-text' type="text" name="city">
        State:
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="disabled">NY</li>
                <li class="disabled">CO</li>
                <li class="disabled">PA</li>
                <li class="disabled">CA</li>
                {{!-- {{#each states}}
                <li class="disabled">{{name}}</li>
                {{/each}} --}}
            </ul>
        </div>
        Zip: <input class='edit-planit-text' type="text" name="zip"><br>
        Description: <input class='edit-planit-text' type="textarea" name="description"><br>
        <input type="submit" value="{{submitText}}" onclick="{{submitMethod}}(event, {{planit.id}});">
    </div>
</div>
