<nav class="navbar navbar-inverse navbar-static-top">
  <img class="pointer" onclick="pageLoaded()" src="../images/brand_logo_v2.png">
   <button type="button" id="back-but" onclick="historyBack()" class="btn btn-xs history-button"><span class="glyphicon glyphicon-circle-arrow-left history-arrows"></span>BACK</button>
  <button type="button" id="next-but" onclick="historyNext()" class="btn btn-xs history-button">NEXT<span class="glyphicon glyphicon-circle-arrow-right history-arrows"></span></button>


  {{#if user}}

    <span id="display_name">{{user.display_name}}</span>
  {{else}}
    <p class="pull-right pointer" name="login_button" onclick="login()">Login with LinkedIn</p>
  {{/if}}
  <div class="dropdown pointer">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-th-list"></span>
      <span class="caret"></span>
  	</button>
    <ul class="dropdown-menu pointer">
      <li onclick="listMembers()">Browse Members</li>
      <li onclick="viewServiceRecord({{user.id}})">Service Record</li>
      <li onclick="updateMember({{user.id}})">Edit Service Record</li>
      <li onclick="listPlanits({{user.id}})">Browse My planits</li>
      <li onclick="listPlanits()">Browse All planits</li>
      <li onclick="createPlanit()">Create a planit</li>
      <li onclick="logout()">Logout</li>
    </ul>
    </div>
</nav>
