<h1>Mission Control</h1>
<div class="main-container">
  <div class="inner-container-column">
    <article class="left-column col-lg-6 pull-left">
      <h3>My planits</h3>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th>START DATE</th>
            <th>TITLE</th>
            <th>TYPE</th>
          </tr>
        </thead>
        <tbody>
        {{!-- if member owns planit --}}
        {{#if editable}}
        {{#planits}}
          <tr>
            <td>{{start_date}}</td>
            <td>{{title}}</td>
            <td>{{type}}</td>
            <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">View</button></td>
          </tr>
        {{/planits}}
        {{/if}}
        </tbody>
      </table>
      <button type="button" class="btn btn-custom" name="planit-details" onclick="createPlanit({{id}});">Create a planit</button>
    </article>
    <!-- <article class="right-column col-lg-4 pull-left">
      {{!--submitted proposals box --}}
      <h3>My Sent Proposals</h3>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th>START DATE</th>
            <th>TITLE</th>
            <th>TYPE</th>
          </tr>
        </thead>
        <tbody>
        {{#if editable}}
        {{#proposals}}
          <tr>
            <td>{{start_date}}</td>
            <td>{{title}}</td>
            <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">View</button></td>
            <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">Edit</button></td>
          </tr>
        {{/proposals}}
        {{/if}}
        </tbody>
      </table>

      {{!--recieved proposals box--}}
      <h3>Proposal Recieved</h3>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th>START DATE</th>
            <th>TITLE</th>
            <th>TYPE</th>
          </tr>
        </thead>
        <tbody>
        {{#if editable}}
        {{#proposals}}
          <tr>
              <td>{{start_date}}</td>
              <td>{{title}}</td>
              <td>{{type}}</td>
              <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">View</button></td>
              <td><button type="button" class="btn btn-custom" name="planit-details" onclick="viewPlanit({{id}});">Edit</button></td>
          </tr>
          {{/proposals}}
          {{/if}}
        </tbody>
      </table>
    </article> -->
  </div>
</div>
