<h1>Proposal</h1>
<div class="main-container">
  <div class="inner-container-column">
    <div class="proposal-detail">
      <h4>Tell us about your qualifications:</h4>
      <p>{{proposal.details}}</p>
    </div>
    <div class="proposal-detail">
      <h4>Your bid:</h4>
      <p>{{proposal.cost_estimate}}</p>
    </div>
    <button type="button" class="btn btn-primary form-submit-btn" onclick="viewTask({{planitId}}, {{taskId}});">
      Return to Task View
    </button>
    <button type="button" class="btn btn-primary form-submit-btn" onclick="deleteProposal({{planitId}}, {{taskId}}, {{proposal.id}});">
      Delete Proposal
    </button>
  </div>
</div>
