<h1>Task Details</h1>
<div class="main-container">
  <div class="inner-container-column">
    {{#if task.description}}
      <div class="task-details">
        <h4>Description:</h4>
        <p>{{task.description}}</p>
      </div>
    {{else}}
      <div class="task_details">
        <h4>Type:</h4>
        <p>{{task.skill_name}}</p>
      </div>
    {{/if}}
    <div class="task-details">
      <h4>Rate:</h4>
      <p>{{formattedCurrency}}</p>
    </div>
    <div class="task-details">
      <h4># Needed:</h4>
      <p>{{task.head_count}}</p>
    </div>
    <div class="task-details">
      <h4>Start Time:</h4>
      <p>{{startTime}}</p>
    </div>
    <div class="task-details">
      <h4>End Time:</h4>
      <p>{{endTime}}</p>
    </div>
    {{#if editable}}
      <button type="button" class="btn btn-custom form-submit-btn" onclick="updateTask({{planit.id}}, {{task.id}});">
        Edit Task
      </button>
      <button type="button" class="btn btn-danger form-submit-btn upper-right-btn" onclick="deleteTask({{planit.id}}, {{task.id}});">
        Eject Task
      </button>
      <button type="button" class="btn btn-primary form-submit-btn" onclick="viewPlanit({{planit.id}});">
        Return to Orbit
      </button>
    {{/if}}
    {{#if submittable}}
      <button type="button" class="btn btn-custom form-submit-btn" onclick="createProposal({{planit.id}}, {{task.id}});">
        Create Proposal
      </button>
    {{/if}}
    <button type="button" class="btn btn-primary form-submit-btn" onclick="viewPlanit({{planit.id}});">
      Return to Orbit
    </button>
    {{#if approvedProposals.length}}
      <h1>Approved Proposals</h1>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th class="col-sm-2">CREW MEMBER</th>
            <th class="col-sm-2">|RATE</th>
            <th class="col-sm-8">|DETAILS</th>
          </tr>
        </thead>
        <tbody>
        {{#each approvedProposals}}
          <tr>
            <td>{{display_name}}</td>
            <td>${{cost_estimate}}</td>
            <td>{{details}}</td>
            <td><button class="btn btn-custom" onclick="viewProposal({{../planit.id}}, {{../task.id}}, {{id}});">View Proposal</button></td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/if}}
    {{#if pendingProposals.length}}
      <h1>Pending Proposals</h1>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <th class="col-sm-2">CREW MEMBER</th>
            <th class="col-sm-2">|RATE</th>
            <th class="col-sm-8">|DETAILS</th>
          </tr>
        </thead>
        <tbody>
        {{#each pendingProposals}}
          <tr>
            <td>{{display_name}}</td>
            <td>${{cost_estimate}}</td>
            <td>{{details}}</td>
            <td><button class="btn btn-custom" onclick="viewProposal({{../planit.id}}, {{../task.id}}, {{id}});">View Proposal</button></td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{/if}}
    {{#unless approvedProposals.length}}
      {{#unless pendingProposals.length}}
        <h1>No Proposals for this Task</h1>
      {{/unless}}
    {{/unless}}
  </div>
</div>
