<h1>planit Details</h1>
<div class="main-container">
  <div class="inner-container-column">
    <div class="task_details">
      <h4>Type:</h4>
      <p>{{task.name}}</p>
    </div>
    <div class="task-details">
      <h4>Description:</h4>
      <p>{{task.description}}</p>
    </div>
    <div class="task-details">
      <h4>Rate:</h4>
      <p>{{task.budget}}</p>
    </div>
    <div class="task-details">
      <h4># Needed:</h4>
      <p>{{task.head_count}}</p>
    </div>
    <div class="task-details">
      <h4>Start Time:</h4>
      <p>{{task.start_time}}</p>
    </div>
    <div class="task-details">
      <h4>End Time:</h4>
      <p>{{task.end_time}}</p>
    </div>
    {{#if editable}}
      <button type="button" class="btn btn-default" aria-label="Left Align" onclick="updateTask({{task.id}});">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Edit
      </button>
    {{/if}}
  </div>
</div>
