<h1>{{title}}</h1>
<form class="main-container">
  <div class="inner-container-column">
    <label>{{planit.title}}</label>
    <div class="drop-down-error planit-dropdown">
      <button class="drop-down skill-btn btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
        {{#if skill}}
          {{skill}}
        {{else}}
          Skill
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#each skills}}
          <li onclick="selectSkill({{id}});">{{name}}</li>
        {{/each}}
      </ul>
      <input class="skill hidden" type="text" name="skill_id" value="{{task.skill_id}}" />
      <label class="optional-description description-margin{{hideDescription}}" for="description">Description:</label>
      <input class="optional-description{{hideDescription}}" name="description" rows="8" cols="40" value="{{task.description}}">
    </div>
    <label for="budget">Budget ($):</label>
    <input class="edit-planit-text budget form-control" type="number" name="budget" id="budget" onblur="highlightBudget()" value="{{task.budget}}" />
    <label for="head_count">Positions to Fill:</label>
    <input class="edit-planit-text head-count form-control" type="number" name="head_count" id="head_count" value="{{task.head_count}}" onblur="highlightHeadCount()"/>
    <label for="start_time">Start Time:</label>
    <input class="edit-planit-text start-time form-control" type="datetime-local" name="start_time" id="start_time" onblur="highlightPastTime()" value="{{startTime}}" />
    <label for="end_time">End Time:</label>
    <input class="edit-planit-text end-time form-control" type="datetime-local" name="end_time" id="end_time" onblur="highlightTime()" value="{{endTime}}" />
    <p id="errorMessage"></p>
    {{#if update}}
      <input class="btn btn-custom form-submit-btn" type="submit" value="Update" onclick="updateTaskPut(event, {{planit.id}}, {{task.id}});" />
    {{else}}
      <input class="btn btn-custom form-submit-btn" type="submit" value="Create" onclick="createTaskPost(event, {{planit.id}});" />
    {{/if}}
    <button type="button" class="btn btn-primary form-submit-btn" onclick="viewPlanit({{planit.id}});">
      Return to Orbit
    </button>
  </div>
</form>
