<h1>Task Details</h1>
<div class="main-container">
  <div class="inner-container-column">
    {{#if task.description}}
      <div class="task-details">
        <h4>Description:</h4>
        <p>{{task.description}}</p>
      </div>
    {{else}}
      <div class="task_details">
        <h4>Type:</h4>
        <p>{{task.name}}</p>
      </div>
    {{/if}}
    <div class="task-details">
      <h4>Rate:</h4>
      <p>{{task.budget}}</p>
    </div>
    <div class="task-details">
      <h4># Needed:</h4>
      <p>{{task.head_count}}</p>
    </div>
    <div class="task-details">
      <h4>Start Time:</h4>
      <p>{{task.start_time}}</p>
    </div>
    <div class="task-details">
      <h4>End Time:</h4>
      <p>{{task.end_time}}</p>
    </div>
    {{#if editable}}
      <button type="button" class="btn btn-custom form-submit-btn" onclick="updateTask({{planit.id}}, {{task.id}});">
        Edit Task
      </button>
      <button type="button" class="btn btn-danger form-submit-btn upper-right-btn" onclick="deleteTask({{planit.id}}, {{task.id}});">
        Eject Task
      </button>
    {{/if}}
    {{#if submittable}}
      <button type="button" class="btn btn-custom form-submit-btn" onclick="createProposal({{planit.id}}, {{task.id}});">
        Create Proposal
      </button>
      <button type="button" class="btn btn-primary form-submit-btn" onclick="viewPlanit({{planit.id}});">
        Return to Orbit
      </button>
    {{/if}}
    {{#if proposals.length}}
      <h1>Proposals</h1>
      <table class="table table-striped planits-table">
        <thead>
          <tr>
            <td>CREW MEMBER</td>
            <td>|RATE</td>
            <td>|DETAILS</td>
          </tr>
        </thead>
        <tbody>
        {{#each proposals}}
          <tr>
            <td>{{display_name}}</td>
            <td>{{cost_estimate}}</td>
            <td>{{details}}</td>
            <td><button class="btn btn-custom" onclick="viewProposal({{../planit.id}}, {{../task.id}}, {{id}});">View Proposal</button></td>
          </tr>
        {{/each}}

        </tbody>
      </table>
    {{else}}
      <h1>No Proposals for this Task</h1>
    {{/if}}

  </div>
</div>
